* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url('https://media.giphy.com/media/m04EuXSLhgbWo/giphy.gif');
}

.grid {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 500px;
  max-width: 500px;
  border-bottom: 7px solid #98fb98;

}

.grid div {
  flex-grow: 1;
  height: 6.66%;
  width: 6.66%;
  border: 1px solid white;
}

.activeAlien {
  background-color: #ff7163;
}

.grid div.spaceship {
  background-color: #d3d3d3;
}

.bullet {
  background-color: white;
}
